streamlit
openai==0.28
python-dotenv
pandas
Pillow
dnspython
ping3
deep-translator
pyyaml
rendercv
streamlit-authenticator
bcrypt

#torch # sub2audio
#git+https://github.com/huggingface/parler-tts.git # sub2audio
#transformers # sub2audio
#soundfile # sub2audio
#pysrt # sub2audio